<div class="architecture-diagram" *ngIf="lineItems.length; else empty">
  <ng-container *ngFor="let item of lineItems; let last = last">
    <div class="arch-node" [ngClass]="cloudClass">
      <div class="arch-label">{{ item.label }}</div>
      <div class="arch-desc">{{ item.desc }}</div>
    </div>
    <div class="arch-arrow" *ngIf="!last"></div>
  </ng-container>
</div>

<ng-template #empty>
  <div class="arch-empty">Select at least one service to preview the architecture.</div>
</ng-template>
